body {
	font-family: Verdana;
}
.header {
	padding-top: 50px;
    padding-bottom: 50px;

    background-color: #fca787;
    color: #ffffff;
}

.header img {
	width: 500px;
	border: 3px rgba(60,60,60);
	padding: 5px;

	background-color:rgba(60,60,60);
	color: white;

}

.navbar-nav li a:hover {
	background-color: #3a6787;
	color: #labc9c;
}

.span {
	font-size: large;

}